.posts__container {
    grid-template-columns: 400px 480px;
    column-gap: 8.5rem;
}

.post__data {

}

.post__title {

}

.post__description {

}

.post__img {
    width: 460px;
    height: 400px;
    display: block;
}