.post {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
}

.post__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.post-section {
    margin-bottom: 40px;
}

/* .intro-section {
    text-align: center;
    margin-bottom: 20px;
} */

.post__intro {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.post__row {
    display: flex;
    /* align-items: center; */
    gap: 30px;
    margin-bottom: 30px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.post__content {
    flex: 1;
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--text-color);
}

.post__image {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
}