.post__row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.post__content {
    flex: 1;
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--text-color);
}


@media (max-width: 1024px) {
    .post__row {
        flex-direction: column;
    }
    
    .row-reverse {
        flex-direction: column;
    }
}