/* .post-item {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    padding: 1.25rem 1.5rem;
} */

.post-item__header {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

.post-item__body { 
    display: flex;
    gap: 10px;

}

.post-item__date {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.post-item__text {
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    font-weight: 500;
    overflow: hidden;

}