/* Popular Section */
.popular {
  padding: 3rem 0;
}

.section__title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;  /* Space between the title and the cards */
}


.popular__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* Four columns */
  gap: 2rem;  /* Space between cards */
  justify-items: center;  /* Center the cards within their grid cells */
}

/* .popular__card {
  background-color: var(--container-color);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.popular__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

/* .popular__image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.popular__image img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.popular__card:hover .popular__img {
  transform: scale(1.1);
}

.popular__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
}

.popular__name {
  margin: 1rem 0 0.5rem;
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.popular__description {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
} */

/* Responsiveness */
@media screen and (max-width: 1024px) {
  .popular__container {
    grid-template-columns: repeat(2, 1fr);  /* Two columns on medium screens */
  }
}

@media screen and (max-width: 768px) {
  .popular__container {
    grid-template-columns: 1fr;  /* One column on small screens */
  }
}
