.nav__logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--title-color); 
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav__logo {
        font-size: 1.3rem;
    }
}